/***** Import *****/
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);

/***** Main style *****/
body {
  background: #FFFFFF;
  font-family: 'Alfa Slab One';
  font-size: 45px;
  color: #322f30;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.container {
  text-align: center;
}

.social-icons {
  margin-top: 10px;
  padding: 0;
  list-style: none;
}

.social-icons li {
  display: inline-block;
  margin-right: 10px;
}

.social-icons a {
  font-size: 35px;
  color: #322f30;
  text-decoration: none;
  -o-transition: .5s;
  -ms-transition: .5s;
  -moz-transition: .5s;
  -webkit-transition: .5s;
  transition: .5s;
}

.social-icons a:hover {
  color: #00aced;
}

.intro h3 {
  margin-bottom: 20px;
  font-size: 21px;
  font-weight: 50;
  line-height: 1.2;
  font-family: Arial, sans-serif; /* Change the font family as desired */
}

.app-icons {
  margin-top: 20px;
  padding: 0;
  list-style: none;
}

.app-icons li {
  display: inline-block;
  width: 150px;
  height: 150px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  padding: 10px;
  font-family: Arial, sans-serif; /* Change the font family as desired */
}

.app-icons a {
  text-decoration: none;
  color: #777;
}

.app-icons img {
  width: 100px;
  height: 100px;
}

.app-icons p {
  margin-top: 5px;
  font-size: 16px;
  color: #777;
  word-wrap: break-word;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  margin: 0 auto;
}
.cdiv {
  text-align: center;
}
.copyright {
  margin-top: 20px;
  font-size: 14px;
  color: #777;
  font-family: Arial, sans-serif; /* Change the font family as desired */
}

@media (max-width: 600px) {
  body {
    font-size: 30px;
  }
}
