/***** Import *****/

@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);

/***** Main style *****/

body {
    background: #FFFFFF;
    font-family: 'Alfa Slab One';
    font-size: 45px;
    color: #322f30;
}
p {
    text-align: center;
}
div {
    height: 400px;
    width: 400px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -200px;
    margin-left: -200px;
}

/***** Social Media *****/

.intro h2 {
    margin-bottom: 20px;
    font-size: 28px;
    font-weight: 200;
    line-height: 1.2;
}

ul {
    padding:0;
    list-style: none;
}
.social-icon {
    color: #322f30;
}
ul.social-icons {
    margin-top: 10px;
}
.social-icons li {
    vertical-align: top;
    display: inline;
    height: 100px;
}
.social-icons a {
	font-size:35px;
    color: #322f30;
    text-decoration: none;
}
.fa-twitter {
    padding:10px 12px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
}
.fa-twitter:hover {
    color: #00aced;
}
.fa-github {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
}
.fa-github:hover {
    color: #6e5494;
}
.fa-medium {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
}
.fa-medium:hover {
    color: #1CB777;
}
.fa-linkedin {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
}
.fa-linkedin:hover {
    color: #0073a4;
}
.fa-envelope {
    padding:10px 12px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
}
.fa-envelope:hover {
    color: #BF4D28;
}
.fa-instagram {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
}
.fa-instagram:hover {
    color: #1273a4;
}

.fa-dribbble {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
}
.fa-dribbble:hover {
    color: #EA4C89;
}

